plugins {
    id "groovy-gradle-plugin"
}

repositories {
    gradlePluginPortal()
}

dependencies {
    implementation "gradle.plugin.com.github.johnrengelman:shadow:7.1.2"
    implementation "me.modmuss50:mod-publish-plugin:0.3.0"
}
